modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[nix]
packages = ["gdb", "python39Packages.clvm-tools", "q-text-as-data", "tree", "vimHugeX", "wget"]
